<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>naverPractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1DD412C11EF648FC00EED327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DD412D51EF648FC00EED327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DD412E01EF648FC00EED327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
